<div style="text-align:center;margin: auto; background-color:rgb(19, 140, 227); color:chocolate; padding:4%;">
  <h1>{{ title }}</h1>
</div>

<router-outlet></router-outlet>

<footer style="text-align: center; background-color: #333; color: white; padding: 10px;">
  <p>&copy; {{ currentYear }} <a href="https://www.linkedin.com/in/rishu-kumar-50998a214/" target="_blank" style="color: white; text-decoration: none;"></a>. All Rights Reserved. Designed by <a href="https://www.linkedin.com/in/rishu-kumar-50998a214/" target="_blank" style="color: white; text-decoration: none;">Rishu</a></p>
</footer>
